$background-categories:(
    background-enchantee: rgb(252,223,219),
    background-chic: rgb(255,245,254),
    background-delice: rgba(230,230,250 ,0.2),
    background-palette: rgba(255,255,255,0.1)
);
$enchanteebar-categories:(
    enchanteebar-1: 20px,
    enchanteebar-2: 0px,
    enchanteebar-3: 0px
);
$enchanteebar-mobile-categories:(
    enchanteebar-1: 65px,
    enchanteebar-2: 35px,
    enchanteebar-3: 15px
);
$chicbar-categories:(
    chicbar-1: 10px,
    chicbar-2: 15px,
    chicbar-3: 5px
);
$delicebar-categories:(
    delicebar-1: rgba(0,0,139 ,0.8),
    delicebar-2: rgba(3,169,244 ,0.6),
    delicebar-3: rgba(3,169,244 ,0.6)
);
$delicebars-categories:(
    delicebar-1: 530px,
    delicebar-2: 520px,
    delicebar-3: 520px
);
$desabled-categories:(
    disabled-1: rgba(243,156,18 ,0.7),
    disabled-11: rgba(154,0,137 ,0.7),
    disabled-12: rgba(65,0,147 ,0.75)
);
$palettebar-categories:(
    palettebar-1: 25px,
    palettebar-2: 0px,
    palettebar-3: 0px
);
$palettebar-mobile-categories:(
    palettebar-1: 40px,
    palettebar-2: 0px,
    palettebar-3: 0px
);
$chic-grid-categories:(
    disabled-1: rgba(243,156,18 ,0.7),
    disabled-12: rgba(154,0,137 ,0.7),
    disabled-3: rgba(0,0,0,1)
);
$categories: 
    chicbar-1 rgba(243,156,18 ,0.7), 
    chicbar-2 rgba(154,0,137 ,0.7),
    chicbar-3 rgba(65,0,147 ,0.75);
$below-line-categories:(
   below-line--1: 219px,
    below-line--2: 150px,
    below-line--3: 180px
);
 $enchanteebar1-width-categories:(
    enchanteebar-1: 50px,
    enchanteebar-2: 50px,
    enchanteebar-3: 50px
);
$enchanteebar2-width-categories:(
    enchanteebar-1: 50px,
    enchanteebar-2: 50px,
    enchanteebar-3: 50px
);