$cd-header: rgb(255,202,40);
$cd-bg: rgb(22,160,133);
$colour-shadow: rgb(226,226,226);
$cd-enchanteebar-1: rgb(121,85,72);
$cd-palettebar-1: rgba(56,142,60,1);
$cd-palettebar-2: rgba(102,255,0.1);
$padding-init: 0px;
$margin-init: 0px;
$marge-para : 60px;
$width-container: 100%;
$num-bars: 4;
$grid-column: 190px;
$grid-row: 205px;
$anim-dur: 600ms;
